.button {
    background-color: inherit;

    cursor: pointer;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    &::hover{
      color: #3579F8;
    }
}
