.button {
    background-color: transparent;

    cursor: pointer;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    &::hover{
      color: #3579F8;
    }
}


.buttonText {
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "SF_Medium";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
