.wrap {
    width: 50vw;

    text-align: center;

    border-radius: 15px;

    color: #fff;
    font-family: 'SF_Medium', Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.wrap:active {
    background-color: #3579f8; /*button hover blue color*/
}
