.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.10);;
  align-items: center;
  padding: 24px 10vw;


    & h3 {
      color: #858585;
      font-size: 16px;
      font-family: 'SF_Regular', Arial, Helvetica, sans-serif;
      font-weight: 400;
    }

    & .logoWrap img {
      height: 46px;
      width: 195px;
    }

    & .logoWrap {
      height: fit-content;
      width: fit-content;
    }

    & .socials {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }

}

@media (max-width: 700px) {
  .wrap {
    padding: 24px;
    .socials img {
      height: 32px;
      width: 32px;
    }
    .logoWrap img {
      height: 64px;
      width: 128px;
    }
  }
}