.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  width: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.10);;

  & .logo {
    display: flex;
    flex-direction: column;
    gap: 24px;

    & h3 {
      color: #858585;
      font-size: 16px;
      font-family: 'SF_Regular', Arial, Helvetica, sans-serif;
      font-weight: 400;
    }

    & .logoWrap img {
      height: 46px;
      width: 195px;
    }

    & .logoWrap {
      height: fit-content;
      width: fit-content;
    }

    & .socials {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }

  }
}

.additionalInfo {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;

  & div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  & h1 {
    margin: 0 0 14px 0;
    font-size: 18px;
    color: #222;
    font-family: "SF_Medium", Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  & h3 {
    color: #858585;
    font-size: 16px;
    font-family: 'SF_Regular', Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
}

@media (max-width: 800px) {
  .additionalInfo {
    width: 70vw;
  }
}

@media (max-width: 700px) {
  .logoWrap img {
    width: 100px !important;
    height: 25px !important;
  }
  .logo img {
    width: 32px;
    height: 32px;
  }

  .wrap h1 {
    font-size: 12px !important;
  }
  .wrap h3 {
    font-size: 8px !important;
  }
  .wrap {
    height: fit-content;
  }
}

@media (max-width: 550px) {
  .logoWrap img {
    width: 60px !important;
    height: 15px !important;
  }
  .logo img {
    width: 16px;
    height: 16px;
  }

  .wrap h1 {
    font-size: 8px !important;
  }
  .wrap h3 {
    font-size: 7px !important;
  }
}