.main {
    margin-top: 30px;
    background-color: white;
    border-radius: 30px;
    padding: 13px 18px;
    gap: 10px;
}

.title {
    font-weight: 600;
    font-size: 28px;
    display: flex;
    svg {
        margin-top: 6px;
        margin-left: 5px;
    }
}

.item {
    .left {
        margin-right: 15px;
        .avatar {
            background: linear-gradient(180deg, #3579F8 0.06%, #538FFF 67.3%);
            padding: 8px;
            border-radius: 50%;
        }
    }
    .right {
        .righttitle {
            font-weight: 500;
            font-size: 22px;
        }
        .subtitle {
            color: #757575;
        }
    }
}