.wrap {
    display: flex;
    flex-direction: column;
    width: 251px;
    border-radius: 30px;
    gap: 12px;
    padding: 16px;
    background-color: #ffffff;
    @media (max-width: 900px){
        background-color: transparent;  
        padding: 0 0 0px 8px;
    }
}

.title {
    color: #222;
    font-family: "SF_Regular";
    font-size: 28px;
    letter-spacing: 0.56px;
    padding-left: 5px;
    display: flex;
    @media (max-width: 900px){
        font-size: 22px;
    }
    svg {
        // margin-top: 6px;
        margin-left: 5px;
    }
}

@media (max-width: 1000px) {
    .wrap {
        width: auto;
        margin-bottom: 20px;
    }
}

.achievements {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 249px;
    overflow: hidden;
    @media (max-width: 900px){
        flex-direction: row;
        overflow-x: scroll;
        padding-bottom: 5px;
    }
}
