$bgFormColor: #fff;
$bgScreenColor: #f2f2f2;

.wrap {
    display: block;
    border-radius: 10px 10px 0 0;
    background-color: $bgFormColor;
    max-width: 460px;
    height: auto;
    padding-top: 40px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    @media screen and (max-width: 500px) {
        display: flex !important;
        min-width: 400px;
    }
    @media screen and (max-width: 420px) {
        display: flex !important;
        min-width: 350px;
    }
    @media screen and (max-width: 360px) {
        display: flex !important;
        min-width: auto;
        width: 100%;
        padding-top: 32px;
        padding-bottom: 16px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

.form {
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: $bgScreenColor;

    max-width: 460px;
}

.header {
    width: 100%;
    text-align: center;
}

.text {
    font-size: 16px;
    font-family: 'SF_Regular', sans-serif;
    font-weight: 400;
    width: 254px;
    text-align: center;
}

.logo {
    user-select: none;
}
