$bgScreenColor: #f2f2f2;
$bgFormColor: #fff;

.wrap {
  display: block;
  border-radius: 10px;
  background-color: $bgFormColor;
  width: 460px;
  height: auto;
}

.screen {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: $bgScreenColor;
}

.header {
  width: 100%;
  text-align: center;
}

.text {
  font-size: 16px;
  font-family: "SF_Regular", sans-serif;
  font-weight: 400;
  width: 254px;
  text-align: center;
}
