$errorMessage:  #f54135;
$securityLine: #E1E3E6;

.wrap {
  display: flex;
  flex-direction: column;
}
.label {
  font-family: "SF_Regular", Arial, Helvetica, sans-serif;

  padding-bottom: 8px;
  color: #222;

}

.error {
  color: $errorMessage;
  font-family: "SF_Regular", Arial, Helvetica, sans-serif;
  margin: 0;
  font-weight: lighter;
  display: block;
  font-size: 14px;
  transition: opacity 0.3s;
}

.security {
  font-family: "SF_Regular", Arial, Helvetica, sans-serif;
  margin: 8px 0 0 0;
  font-size: 14px;
  font-weight: lighter;
}

.securityBar {
  display: block;
  height: 3px;
  position: absolute;
  top: 1px;
  left: 0;
  transition: all 0.3s;
  width: 33%;
  z-index: 1;
}

.securityFullBar {
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  background-color: $securityLine;
  height: 3px;
  z-index: 0;

  padding: -20px;
}

.securityWrap {
  display: flex;
  position: relative;
  flex-direction: column;
  transition: opacity 0.2s;

  margin-top: 8px;
}
