.header {
    width: 100%;
    height: 64px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 0 4vw;
}

.linksWrap {
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
}

.infoWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding-left: 16px;

    & * {
        cursor: pointer;
    }
}

.element:hover {
    transition: all 0.3s;
    color: #3579f8;
}

.popupWrap {
    width: 390px;
    position: absolute;
    top: 75px;
    right: 100px;
    overflow: hidden;
    background-color: white;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0px -3px 40px 20px rgba(154, 170, 207, 0.2),
        0px 16px 40px 20px rgba(154, 170, 207, 0.2);
}
.sideBar {
    position: absolute;
    left: 0;
    top: 64px;
    border-right: 2px solid #e5e5e5;
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    padding-top: 32px;
    padding-bottom: 24px;
    background-color: #ffffff;

    & span {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.sideBarElement {
    cursor: pointer;
    display: flex;
    border-radius: 50px;
    flex-direction: row;
    padding: 8px;
    &:hover {
        & * {
            color: black;
        }
    }
    & * {
        transition: all 0.3s;
        color: #757575;
    }
}

.sideBarLogout {
    @extend .sideBarElement;
    &:hover {
        & * {
            color: red;
        }
    }
    & * {
        color: #d55f5a;
    }
}
