.wrap {
  max-width: 100%;
  margin: auto;
  height: auto;

  display: flex;
  gap: 40px;

  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  margin-top: 40px;
}

.wrap::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
