.bellWrap {
  width: 2rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bellClicked {
  animation: ring 2s ease-in-out forwards;
}

@keyframes ring {
  0% { transform: rotate(0); }
  5% { transform: rotate(15deg); }
  10% { transform: rotate(-13deg); }
  15% { transform: rotate(19deg); }
  20% { transform: rotate(-17deg); }
  25% { transform: rotate(15deg); }
  30% { transform: rotate(-13deg); }
  35% { transform: rotate(11deg); }
  40% { transform: rotate(-9deg); }
  45% { transform: rotate(7deg); }
  50% { transform: rotate(-5deg); }
  55% { transform: rotate(3deg); }
  60% { transform: rotate(-1deg); }
  95% { transform: rotate(2deg); }
  100% { transform: rotate(0); }
}