$input-height: 44px;

.input {
  height: $input-height;
  border: 1px solid lightgray;
  outline: none;
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  font-size: larger;
}

.icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  transition: .2s;
}

.iconWrap {
  border-radius: 0 8px 8px 0;
  border: 1px solid lightgray;
  border-left: none;
  height: $input-height;
  cursor: pointer;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: $input-height;
}

.wrap {
  display: flex;
  height: auto;
  flex-direction: row;
  align-items: center;
}