.screen {
  background: white;
  width: 100vw;
  overflow-y: hidden;
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  padding: 24px 0;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.wrap {
  width: 90vw;
  display: flex;
  flex-direction: row;
}