.screen {
    background: white;
    width: 98vw;
    overflow-x: hidden !important;
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 24px;
}
.wrap {
    width: 95vw;
    padding: 0 3.5vw;
    display: flex;
    flex-direction: row;
    gap: 42px;
}
