.screen {
    background: white;
    width: 98vw;
    overflow-x: hidden !important;
    display: flex;
    min-height: 100vh;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 48px;
    padding-bottom: 50px;
    margin-top: 30px;
    @media (max-width: 1000px){
        margin-top: 25px;
    }
    @media (max-width: 600px){
        padding-bottom: 20px;
        margin-top: 16px;
    }
}
.wrap {
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 54px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 1200px) {
        gap: 54px;
    }
    @media (max-width: 750px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

// @media (max-width: 1000px) {
//     .wrap {
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//     }
// }

// @media (max-width: 650px) {
//     .wrap {
//         width: 80vw;
//     }
// }

// @media (max-width: 450px) {
//     .wrap {
//         width: 95vw;
//     }
// }

.materials {
    width: 93vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 1353px;
}

.titleWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 82px 0px 0px;
    margin-bottom: 25px;
    justify-content: space-between;
    @media (max-width: 1000px) {
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 15px;
        padding: 0;
    }

    & h1 {
        font-size: 28px;
        font-family: "SF_Medium", Arial, Helvetica, sans-serif;
        font-weight: 500;
        user-select: text;
        @media (max-width: 1000px) {
            font-size: 20px;
        }
    }

    & .link {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "SF_Medium", Arial, Helvetica, sans-serif;
        font-weight: 500;
        gap: 6px;
        .text {
            color: #3579f8;

            &:hover {
                transition: all 0.3s;
                color: #1b66f1;
            }
        }

        & * {
            font-size: 16px;
        }
    }
}
@media (max-width: 410px) {
    .titleWrap {
        & h1 {
            font-family: "SF_SemiBold", Arial, Helvetica, sans-serif;
            font-weight: 600;
            font-size: 20px !important;
        }
    }
    .link {
        & * {
            font-family: "SF_SemiBold", Arial, Helvetica, sans-serif;
            font-weight: 600;
            font-size: 14px !important;
        }
    }
}

@media (max-width: 290px) {
    .titleWrap {
        & h1 {
            font-family: "SF_SemiBold", Arial, Helvetica, sans-serif !important;
            font-weight: 600 !important;
            font-size: 14px !important;
        }
    }
    .link {
        & * {
            font-size: 12px !important;
        }
    }
}

.arrow {
    font-size: 20px;
    color: #3579f8;
}
