.screen {
    background: white;
    width: 98vw;
    overflow-x: hidden !important;
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 48px;
}
.wrap {
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8vw;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1000px) {
    .wrap {
        width: 50vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 650px) {
    .wrap {
        width: 80vw;
    }
}

@media (max-width: 450px) {
    .wrap {
        width: 95vw;
    }
}