.link {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.button {
  font-size: 16px;
  font-family: "SF_Medium", sans-serif;
  cursor: pointer;
}
.icon {
  display: block;
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon {
  background-image: url("/arrows/right.svg");
}

.link:hover {
  cursor: pointer;
}