.wrap {
    display: flex;
    flex-direction: column;
    width: 251px;
    border-radius: 30px;
    gap: 15px;
    padding: 16px;
    background-color: #ffffff;

    @media (max-width: 1000px){
        width: auto; 
    }
    @media (max-width: 900px) {
        background-color: transparent;
        justify-content: center;
        align-items: center;
        padding: 0 16px;
    }
}

.imageWrap {
    width: 219px;
    height: 232px;
    border-radius: 50%;
    * {
        position: static !important;
        width: 219px !important;
        height: 219px !important;
        border-radius: 20px !important;
        @media (max-width: 900px) {
            width: 100px !important; 
            height: 100px !important;
        }
    }
    @media (max-width: 900px) {
        width: 100px;
        height: 100px;
    }
}

.buttonWrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    @media (max-width: 900px){
        justify-content: center;
        gap: 15px;
    }
}

.changeButton {
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: #3579f8;
    font-family: "SF_Medium", Arial, Helvetica, sans-serif;
    font-weight: 500;
    border: 1px solid #3579f8;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
        background: #0851d9;
    }
}

.deleteButton {
    @extend .changeButton;
    background-color: #ffffff;
    color: #3579f8;
    &:hover {
        background-color: #3579f8;
        color: #ffffff;
    }
}

.name {
    color: #222;
    font-family: "SF_Medium";
    font-size: 20px;
    letter-spacing: 0.4px;

    @media (min-width: 900px) {
        display: none;
    }
}
