
.title {
    color: #222;
    font-family: "SF_Medium";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  @media screen and (max-width: 768px) {
    .title{
        font-size: 32px;
    }
  }

    
  @media screen and (max-width: 512px) {
    .title{
        font-size: 28px;
    }
  }

  
  