.screen {
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.calendar {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0px;
    background: #f0f4fa;
}

.container {
    width: 95vw;
    position: relative;
}

.eventscontainer {
    width: 50%;
    height: 750px;
    padding-top: 60px;
    .events {
        border-radius: 15px;
        height: 100%;
        width: 100%;
        background-color: white;

        .circle {
            margin-top: 5px;
            padding: 7px;
            background: #f0f4fa;
            border-radius: 5px;
        }

        .title {
            height: 10%;
            padding: 15px 20px;
            font-size: 20px;
            font-weight: 600;
            align-items: center;

            .toolbar {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .icon {
                background: #f0f4fa;
            }

            svg {
                font-size: 25px;
                cursor: pointer;
            }
            &Name {
                font-family: "SF_Regular";
                font-size: 20px;
                letter-spacing: 0.4px;
                cursor: pointer;
            }
        }

        .eventlist {
            overflow-y: scroll;
            height: 90%;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #5e96ff;
                border-radius: 10px;
                border: 2px solid rgb(255, 255, 255);
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
                border-radius: 10px;
                padding: 5px;
            }

            .eventtoday {
                padding: 20px 20px;
                border-top: 1px solid rgba(34, 34, 34, 0.2);

                .eventtodayleft {
                    div {
                        margin-right: 20px;
                    }
                }
                .eventtodayright {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .eventtoday:last-child {
                border-bottom: 1px solid rgba(34, 34, 34, 0.2);
            }
        }
    }
}

.popup {
    width: 30vw;
    background-color: white;
    border-radius: 15px;
    padding: 15px 35px;

    .popuptitle {
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 0.56px;
        &_edit {
            color: #000;
            font-family: "SF_Medium";
            font-size: 26px;
            letter-spacing: 0.52px;
        }
    }

    .popupinput {
        margin: 20px 0px;
        font-size: 19px;
        border: none;
        width: 70%;
        outline: none;
        padding: 3px 0px;
        border-bottom: 1px solid rgba(34, 34, 34, 0.2);
    }
}

.mid {
    margin-bottom: 20px;

    .midleft {
        .tag {
            margin-right: 10px;
            border-radius: 15px;
            font-size: 19px;
            padding: 5px 10px;
            transition: 0.1s ease;
            cursor: pointer;

            &:hover {
                background: #eff6ff;
                color: rgba(53, 121, 248, 0.9);
            }
        }
    }
}

.btns {
    div {
        padding: 10px 25px;
        border-radius: 10px;
        transition: 0.15s ease;
    }

    .createbtn {
        background: #3579f8;
        color: white;
        padding: 10px 25px;
        border-radius: 10px;
        font-size: 16px;
        transition: 0.15s ease;

        &:hover {
            background: #3579f8a6;
        }
    }

    .closebtn {
        border: 1px solid #3579f8;
        color: #3579f8;

        &:hover {
            background: #3579f81c;
        }
    }
}

.settings {
    margin-bottom: 35px;

    .time,
    .selectdiv,
    .files {
        margin-bottom: 8px;
        font-size: 17.5px;
    }

    .time {
        .timeleft {
            svg {
                margin-right: 5px;
            }
        }
    }

    .files,
    .selectdiv {
        svg {
            margin-right: 5px;
        }
    }
}

@media (max-width: 900px) {
    .calendar {
        padding: 0px;
        .container {
            padding-top: 20px;
            width: 100%;
            display: block;
        }
    }
    .eventscontainer {
        width: 100%;
        padding: 40px 5px;
    }

    .popupmain {
        display: flex;
        position: fixed;
        background-color: white;
        top: 0;
        align-items: start;
        height: 100vh;
        .popup {
            margin-top: 40px;
            padding: 0 20px;
            width: 100%;
            border-radius: 0px;

            .popupinput {
                width: 100%;
            }
        }
    }
}

