.screen {
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1101;
}

<<<<<<< HEAD
.select {
    height: 52px;
    width: 414px;
    border-radius: 12px;
}

=======
>>>>>>> ef387c18459c1d2cf890a077d37a2f490c29a44e
.form {
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    padding: 24px 40px;
    width: 610px;
<<<<<<< HEAD
=======
    height: 500px;
    @media (max-width: 600px) {
        height: auto;
        width: 320px;
        padding: 15px 25px;
    }
>>>>>>> ef387c18459c1d2cf890a077d37a2f490c29a44e

    h6 {
        font-size: 36px;
        font-family: 'SF_Medium', Arial, Helvetica, sans-serif;
        font-weight: 500;
        color: black;
        @media (max-width: 600px) {
            font-size: 20px;
            padding-bottom: 10px;
        }
    }
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 18px;

    div {
        display: flex;
        flex-direction: row;
    }
    
    @media (max-width: 600px) {
        padding-bottom: 27px;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.cancel {
    width: 160px;
    height: 48px;
    color: #3579f8;
    background-color: transparent;
    font-family: "SF_Medium", Arial, Helvetica, sans-serif;
    font-weight: 500;
    border: 1px solid #3579f8;
    transition: all 0.3s;
    font-size: 20px;
    border-radius: 10px;

    &:hover {
        background-color: #5935f8;
        color: white;
    }
}

.submit {
    @extend .cancel;
    color: white;
    background-color: #3579f8;
}

.input {
    font-family: "SF_Regular", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;

    div {
        border-radius: 10px;
        height: 52px;
        width: 420px;
        @media (max-width: 600px) {
            height: 52px;
            border-radius: 8px;
        }
    }
    @media (max-width: 600px) {
        font-size: 15px;
    }
}

.select {
    font-family: "SF_Regular", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    max-width: 420px;
    border-radius: 10px;

    @media (max-width: 600px) {
        font-size: 15px;
    }
}

.buttons button {
    cursor: pointer;
    @media (max-width: 600px) {
        width: 100px;
        height: 30px;
        font-size: 15px;
        border-radius: 5px;
    }
}
