.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 368px;
}

.checkBox {
    transition: all 3s;
}

.checkBoxText {
    transition: all 3s;
}