@import './fonts.scss';

$main-bg-color: #fff;

* {
  padding: 0 ;
  margin: 0 ;
  border: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'SF_Regular', Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: $main-bg-color;
}

*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

ul,
ul li {
  list-style: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}


::-moz-selection { /* Code for Firefox */
  color: white;
  background: #5E96FF;
}

::selection {
  color: white;
  background: #5E96FF;
}
