$accent-color: #3579f8;
$white-text-color: #fff;

.layout {
  display: flex;
  justify-content: center;
  .card {
    width: 100%;
    height: 600px;

    display: flex;
    gap: 225px;

    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;

    background-color: $accent-color;
    border-radius: 0px 0px 50px 50px;
    overflow: hidden;

    .card_info {
      display: flex;
      flex-direction: column;

      max-width: 507px;
      gap: 28px;

      .title {
        color: $white-text-color;

        font-family: "SF_Bold";
        font-size: 58px;
        line-height: 76px;

        user-select: none;
      }

      .description {
        color: $white-text-color;
        font-family: "SF_Medium";
        font-size: 24px;
        font-weight: 500;

        user-select: none;
      }
    }
  }
}

.tags {
  display: flex;
  align-items: center;

  gap: 16px;
}

.textLayout {
  display: flex;
  flex-direction: column;

  padding-left: 184px;
  padding-top: 162px;
  gap: 20px;

  -webkit-animation: fadeInUp .35s ease .5s both;
  animation: fadeInUp .35s ease .5s both;
  will-change: opacity,transform;
}

.accentImg {
  user-select: none;
  
  -webkit-animation: fadeInUp .35s ease .5s both;
  animation: fadeInUp .35s ease .5s both;
  will-change: opacity,transform;
}



/* Const */ 

@-webkit-keyframes fadeInUp {
  0% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
      opacity: 0
  }

  to {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1
  }
}

@keyframes fadeInUp {
  0% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
      opacity: 0
  }

  to {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1
  }
}