.sexWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    & * {
        margin: 0;
    }

    & h2 {
        font-size: 16px;
        color: rgba(26, 7, 16, 0.65);
        font-family: "SF_Regular", Arial, Helvetica, sans-serif;
        font-weight: 400;
    }

    & .sex {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        & h3 {
            font-size: 16px;
            color: rgba(26, 7, 16, 0.85);
            font-family: "SF_Regular", Arial, Helvetica, sans-serif;
            font-weight: 400;
        }
    }
}
