$navBarHeight: 96px;
$borderColor: #e1e3e6;
$bgColor: #3579f8;

.wrap {
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  transition: max-height 0.3s, height 0.3s;
  background-color: $bgColor;

  gap: 3rem;
  padding-bottom: 20vh;
 
  z-index: 100;

  border-top: 1px solid $borderColor;
  transition: all 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
