.form {
  
  & form {
    height: 472px;
    width: 502px;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    background-color: white;
    gap: 16px;
    border-radius: 24px;
    box-shadow: 0 17px 46px 0 rgba(92, 99, 107, 0.08);
    align-items: center;
  }
}

.logoRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  
  .arrowIcon {
    margin-left: 24px;
    cursor: pointer;
  }
  
  .myOlimpIcon {
    margin-right: auto;
    margin-left: 150px;
    cursor: pointer;
  }
  
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 414px;
  
  & h1 {
    font-size: 20px;
    color: rgba(26, 7, 16, 0.85);
    font-family: "SF_Medium", Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 0;
  }
  
  & p {
    color: #6BC62D;
    font-size: 16px;
    font-family: 'SF_Medium', Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
}

.disciplesContainer {
  display: flex;
  width: 450px;
  height: 154px;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 32px;
  
  .disciplineContainer {
    display: flex;
    gap: 2px;
    height: 32px;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid rgba(53, 121, 248, 0.28);
    
    .disciplesName {
      color: #3579F8;
      text-align: center;
      font-family: "SF_Medium", Arial, Helvetica, sans-serif;;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.26px;
    }
  }
}

.button {
  height: 56px;
  width: 414px;
  text-transform: capitalize;
  border-radius: 12px;
  font-size: 22px;
  font-family: 'SF_Medium', Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: #3579F8;
  box-shadow: none;
  
  
  &:disabled {
    background-color: #8CB2FB;
    cursor: not-allowed;
    pointer-events: all !important;
    color: white;
    
    &:hover {
      background-color: #8CB2FB;
    }
  }
  
  &:hover {
    background-color: #316ee0;
    box-shadow: none;
  }
}
