.wrap {
  width: 100%;
  flex-wrap: wrap;
  .items {
    display: flex;
    justify-content: space-between;
  }
}

.item {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.item__title {
  color: #222;
  font-family: "SF_Medium";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.item__text {
  color: rgba(51, 51, 51, 0.6);
  font-family: "SF_Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
}

.item__links{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .items{
    flex-direction: column;
    gap: 40px;
  }
}