.wrapMaterials {
  display: flex;
  flex-direction: row;
  gap: 24px;
  overflow-y: hidden;
  flex-wrap: wrap;
  height: 326px;
  justify-content: center;
  align-items: center;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;

  & h1 {
    font-size: 20px;
    font-family: "SF_Regular", Arial, Helvetica, sans-serif;
    font-weight: 400;
  }

  &:hover * {
    transition: all .3s;
    color: #3579F8;
  }
}

.titleWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-bottom: 12px;


  & * {
    user-select: auto;
    font-size: 17px;
    font-family: 'SF_Medium', Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  & h1 {
    font-size: 28px;
    margin: 0;
  }
}