.form {
    padding: 32px 44px;
    margin: 0 16px;
    background-color: #fff;
    border-radius: 24px;
    max-width: 502px;
    min-width: 502px;
    box-shadow: 0 17px 46px 0 rgba(92, 99, 107, 0.08);
    & form {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        @media screen and (max-width: 420px) {
            gap: 10px;
        }
    }

    @media screen and (max-width: 500px) {
        min-width: 400px;
        padding: 28px 38px;
    }
    @media screen and (max-width: 420px) {
        min-width: 350px;
        padding: 24px 30px;
    }
    @media screen and (max-width: 360px) {
        min-width: auto;
        padding: 20px 20px;
        width: 100%;
        padding: 32px 32px 16px;
    }
}

.select {
    height: 56px;
    width: 100%;
    border-radius: 12px;

    @media (max-width: 500px) {
        height: 50px;         
    }
    @media (max-width: 420px) {
        height: 46px;        
    }
}

.logoRow {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .arrowIcon {
        cursor: pointer;
        position: relative;
        right: 22px;
        @media (max-width: 420px) {
            right: 12px;
        }
    }

    svg {
        cursor: pointer;
    }

    svg:last-child {
        margin-right: 24px;
    }

    .myOlimpIcon {
        position: relative;
        right: 16px;
        cursor: pointer;
    }

}

.titleRow {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;

    & h1 {
        font-size: 20px;
        color: rgba(26, 7, 16, 0.85);
        font-family: "SF_Medium", Arial, Helvetica, sans-serif;
        font-weight: 500;
        margin: 0;
        @media (max-width: 400px) {
            font-size: 18px;
        }
        @media (max-width: 350px) {
            font-size: 16px;
        }
    }
    & p {
        color: #6bc62d;
        font-size: 16px;
        font-family: "SF_Medium", Arial, Helvetica, sans-serif;
        font-weight: 500;
        @media (max-width: 400px) {
            font-size: 15px;
        }
        @media (max-width: 350px) {
            font-size: 13px;
        }
    }
}

.button {
    height: 56px;
    width: 100%;
    text-transform: capitalize;
    border-radius: 12px;
    font-size: 22px;
    font-family: "SF_Medium", Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: #3579f8;
    box-shadow: none;

    &:disabled {
        background-color: #8cb2fb;
        cursor: not-allowed;
        pointer-events: all !important;
        color: white;
        &:hover {
            background-color: #8cb2fb;
        }
    }
    &:hover {
        background-color: #316ee0;
        box-shadow: none;
    }

    @media (max-width: 500px) {
        height: 50px;        
        font-size: 20px;
    }
    @media (max-width: 420px) {
        height: 44px;        
        font-size: 18px;
    }
}