.wrap {
    display: flex;
    align-items: center;
    gap: 32px;

    .element {
        color: #222;
        font-family: 'SF_Medium', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.32px;
        transition: all 0.2s;

        &:hover {
            color: #3579f8;
        }
    }
}
