.header {
    background: #649AFF;

    &__container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 21px 23px;
        @media (max-width: 540px) {
            padding: 10px 15px;
        }
    }

    &__groups {
        display: flex;
        justify-content: space-between;
    }

    &__group {
        display: flex;
        align-items: center;

        &_2 {
            gap: 6px;
            @media (max-width: 420px) {
                gap: 3px;
            }
        }

        &_3 {
            gap: 16px;
            @media (max-width: 540px) {
                gap: 10px;
            }
            @media (max-width: 420px) {
                gap: 5px;
            }
        }
    }

    &__imageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;


        &_question {
            background: #9CBFFF;
            padding: 6px;
        }

        &_star {
            background: #9CBFFF;
            padding: 6px;
        }

        &_book {
            background: #286CEA;
            padding: 6px;
        }
    }

    &__image {
        cursor: pointer;
        @media (max-width: 900px) {
            width: 25px;
            height: 25px;
        }
        @media (max-width: 540px) {
            width: 18px;
            height: 18px;
        }
    }

    &__avatarContainer {
        cursor: pointer;
    }
}

.test {

    &__title {
        color: #757575;
        font-family: 'SF_Regular';
        font-size: 18px;
        letter-spacing: 0.36px;
        padding: 24px 0;
        width: 100%;
        text-align: center;
    }
}

.mainImageContainer {
    width: 100%;

    .mainImage {
        width: 100%;
        height: auto;
    }
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 10px 0 10px;
}

.title {
    font-family: 'SF_Medium';
    padding-top: 30px;
    font-size: 48px;
    letter-spacing: 0.96px;
    padding-bottom: 16px;
    @media (max-width: 540px) {
        font-size: 35px;
    }
}

.autor {
    padding-bottom: 16px;
    font-family: "SF_Regular";
    font-size: 24px;
    letter-spacing: 0.48px;
    @media (max-width: 540px) {
        font-size: 20px;
    }
}

.blockTags {
    display: flex;
    gap: 10px;
    padding-bottom: 36px;
    flex-wrap: wrap;
}

.description {
    font-family: 'SF_Regular';
    font-size: 24px;
    letter-spacing: 0.48px;
    padding-bottom: 15px;
    @media (max-width: 540px) {
        font-size: 18px;
    }
}

.example {

    &__title {
        font-family: 'SF_Bold';
        font-size: 26px;
        letter-spacing: 0.52px;
        padding-bottom: 15px;
    }

    &__description {
        color: #000;
        font-family: "SF_Regular";
        font-size: 24px;
        letter-spacing: 0.48px;
        padding-bottom: 13px;
        @media (max-width: 540px) {
            font-size: 18px;
        }
    }
}

.goLeftArrow {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 10vw;
    transform: rotate(180deg);
    transition: all 0.3s ease 0s;
    &:hover {
        transform: rotate(180deg) scale(1.1);
    }
    @media (max-width: 1300px){
        display: none;
    }
}

.goRightArrow {
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 10vw;
    transition: all 0.3s ease 0s;
    &:hover {
        transform: scale(1.1);
    }
    @media (max-width: 1300px){
        display: none;
    }
}

.main {
    position: relative;

}