.wrap {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 16px 22px;
    transition: all 0.3s ease;
    width: 100%;
    max-width: 328px;
    font-size: 2em;
    height: 134px;
    position: relative;
    background: linear-gradient(170deg, #3579F8 -16.72%, #538FFF 91.75%);
    z-index: 1;
    transition: 0.5s ease-in-out;

    &:hover {
        background: linear-gradient(225deg, #2A60ED 25.14%, #3579F8 74.86%);    }

    &:after {
        float: left;
        border-radius: 30px;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, #0059ff, #043ea8);
        transition: opacity 0.4s ease-in-out;
        z-index: 2;
        opacity: 0;
    }

    &:hover:after {
        opacity: 1;
    }

    & * {
        z-index: 3;
    }
}

.icon {
    background-size: cover;
    top: 0;
    width: 67px;
    height: 131px;
    position: absolute;
    right: 0;
    transition: all 0.3s;
}

.block {
    &__title {
        color: #fff;
        font-family: "SF_Regular";
        font-size: 15px;
        font-weight: 400;
        padding-bottom: 20px;
    }

    &__text {
        color: #fff;
        font-family: "SF_Medium";
        font-size: 20px;
    }
}
