$accentBgColor: #3579f8;
$whiteTextColor: #fff;
$blackTextColor: #222;

.block__first {
  width: 50%;
  min-height: 440px;

  border-radius: 30px;
  background: rgba(243, 243, 243, 0.81);

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.block__second {
  width: 50%;
  min-height: 440px;

  border-radius: 30px;
  background: $accentBgColor;

  padding-left: 32px;
  padding-right: 32px;
  padding-top: 48px;
}

.twoBlockLayout {
  display: flex;
  gap: 32px;
}

.title {
  color: $whiteTextColor;

  font-family: "SF_Medium", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;

  margin-bottom: 32px;
}

.text {
  color: $whiteTextColor;

  font-family: "SF_Regular", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  margin-bottom: 148px;
}

.star {
  float: right;
}

.block__large {
  width: 100%;
  min-height: 530;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border-radius: 30px;
  background: rgba(243, 243, 243, 0.81);
}

.large__title {
  color: $blackTextColor;

  font-family: "SF_Medium", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;

  margin-bottom: 24px;
}

.large__text {
  color: $blackTextColor;

  font-family: "SF_Regular";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.block__large__with__text {
  max-width: 400px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (max-width: 1253px) {
  .text {
    margin-bottom: 118px;
  }

  .bigImg {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 1091px) {
  .text {
    margin-bottom: 68px;

    font-size: 20px;
  }

  .title {
    font-size: 26px;
  }

  .bigImg {
    width: 400px;
    height: 400px;
  }

  .large__title {
    font-size: 32px;
  }

  .large__text {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  .twoBlockLayout {
    width: 100%;
  }

  .block__second {
    width: 100%;
    min-height: 290px;
  }

  .block__first {
    display: none;
  }

  .text {
    margin-bottom: 28px;
  }

  .bigImg {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 900px) {
  .block__first {
    display: flex;
    width: 100%;
  }

  .title,
  .text {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
  }
  .star {
    display: none;
  }

  .block__second {
    width: 100%;
    min-height: 228px;

    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-top: 0;
  }

  .twoBlockLayout {
    display: flex;
    flex-direction: column;

    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .block__large {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .large__title {
    margin-bottom: 16px;

    line-height: normal;
  }

  .large__text {
    margin-bottom: 32px;
  }

  .first_img {
    width: 300px;
    height: 300px;
  }

  .block__first {
    min-height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .bigImg {
    width: 200px;
    height: 200px;
  }

  .large__text {
    margin-bottom: 32px;

    font-size: 16px;
  }
  .large__title {
    margin-top: 16px;
    font-size: 18px;
  }

  .first_img {
    width: 250px;
    height: 250px;
  }

  .block__second {
    text-align: center;
  }

  .title {
    font-size: 18px;
    line-height: normal;
  }

  .text {
    font-size: 14px;
    line-height: normal;
  }

  .title,
  .text {
    margin: 16px;
  }
}
